---
title: Homepage title
bodyClass: draw-star
---
extends shared/_layout
block content
  
  // TEMP
  .temp
    .js-test-loader Test Preloader
      
  // PRELOADER
  .preloader
    .preloader__wrapper
      .preloader__bg
  .logo
    <svg viewBox="0 0 205 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g stroke-width="1" fill-rule="evenodd">
          <path d="M90.5490484,26.3740498 L90.4698354,26.360853 L85.3209892,40.5869932 L82.7333639,40.5869932 L77.6109221,26.4136402 L77.5317091,26.426837 L77.9013698,34.8595861 L77.9013698,37.8816512 L79.9609083,38.2775549 L79.9609083,40.5869932 L72,40.5869932 L72,38.2775549 L74.0463363,37.8816512 L74.0463363,24.0910051 L72,23.6951014 L72,21.3724662 L79.0763629,21.3724662 L83.9743679,35.5326225 L84.0535809,35.5326225 L88.9911924,21.3724662 L96.0939596,21.3724662 L96.0939596,23.6951014 L94.0344212,24.0910051 L94.0344212,37.8816512 L96.0939596,38.2775549 L96.0939596,40.5869932 L88.1330513,40.5869932 L88.1330513,38.2775549 L90.1793876,37.8816512 L90.1793876,34.8595861 L90.5490484,26.3740498 Z M98.6859856,33.3155617 C98.6859856,31.1864688 99.2822776,29.4423104 100.47488,28.0830342 C101.667482,26.723758 103.315536,26.0441301 105.419092,26.0441301 C107.53145,26.0441301 109.183905,26.7215585 110.376507,28.0764358 C111.569109,29.4313131 112.165401,31.1776709 112.165401,33.3155617 L112.165401,33.5926943 C112.165401,35.7393829 111.569109,37.4879402 110.376507,38.8384185 C109.183905,40.1888968 107.540251,40.8641258 105.445496,40.8641258 C103.324337,40.8641258 101.667482,40.1888968 100.47488,38.8384185 C99.2822776,37.4879402 98.6859856,35.7393829 98.6859856,33.5926943 L98.6859856,33.3155617 Z M102.541019,33.5926943 C102.541019,34.8947841 102.769854,35.9395196 103.227532,36.726932 C103.685209,37.5143444 104.424524,37.9080448 105.445496,37.9080448 C106.440065,37.9080448 107.168377,37.512145 107.630456,36.7203336 C108.092534,35.9285222 108.323569,34.8859862 108.323569,33.5926943 L108.323569,33.3155617 C108.323569,32.0486634 108.090333,31.0149252 107.623854,30.2143159 C107.157375,29.4137066 106.422462,29.0134079 105.419092,29.0134079 C104.415722,29.0134079 103.685209,29.4137066 103.227532,30.2143159 C102.769854,31.0149252 102.541019,32.0486634 102.541019,33.3155617 L102.541019,33.5926943 Z M126.626177,31.217272 L124.038552,31.217272 L123.629285,29.4357052 C123.36524,29.2245555 123.032989,29.0486001 122.632521,28.9078336 C122.232053,28.7670671 121.789785,28.696685 121.305703,28.696685 C120.627988,28.696685 120.091105,28.8484465 119.695038,29.1519742 C119.298971,29.4555019 119.100941,29.8360056 119.100941,30.2934966 C119.100941,30.7245939 119.29017,31.0831032 119.668634,31.3690351 C120.047098,31.6549669 120.804015,31.9079029 121.939407,32.1278505 C123.708507,32.4797667 125.019909,32.9966358 125.873654,33.6784734 C126.727398,34.360311 127.154264,35.2994732 127.154264,36.4959882 C127.154264,37.7804822 126.601979,38.8296166 125.497392,39.6434227 C124.392805,40.4572289 122.93838,40.8641258 121.134075,40.8641258 C120.033888,40.8641258 119.023933,40.7035665 118.104177,40.382443 C117.184421,40.0613195 116.368095,39.6016359 115.655174,39.0033784 L115.615568,35.7965583 L118.30881,35.7965583 L118.836897,37.6573057 C119.065736,37.8508596 119.378184,37.9938234 119.774251,38.0862014 C120.170318,38.1785794 120.583982,38.2247677 121.015255,38.2247677 C121.798588,38.2247677 122.39488,38.0840034 122.804149,37.8024704 C123.213418,37.5209375 123.41805,37.1382344 123.41805,36.6543497 C123.41805,36.2320503 123.211218,35.8669427 122.797548,35.559016 C122.383878,35.2510894 121.622561,34.9783585 120.513573,34.740815 C118.832488,34.3976968 117.562892,33.8896254 116.704747,33.2165857 C115.846601,32.543546 115.417535,31.6263783 115.417535,30.4650549 C115.417535,29.2685399 115.910411,28.2370011 116.896178,27.3704075 C117.881945,26.5038139 119.285762,26.0705236 121.10767,26.0705236 C122.216658,26.0705236 123.26622,26.2200858 124.256388,26.5192145 C125.246555,26.8183433 126.023275,27.2010464 126.586571,27.6673353 L126.626177,31.217272 Z M130.247972,33.5663007 C130.247972,31.3140372 130.738648,29.4972972 131.720014,28.1160262 C132.701381,26.7347552 134.076593,26.0441301 135.845692,26.0441301 C136.646628,26.0441301 137.350737,26.222285 137.95804,26.5786001 C138.565342,26.9349152 139.084623,27.4429866 139.515896,28.1028294 L139.793141,26.3080659 L143.146492,26.3080659 L143.146492,40.1646959 C143.146492,42.0474475 142.554601,43.5496671 141.3708,44.6713999 C140.187,45.7931327 138.560949,46.3539907 136.492599,46.3539907 C135.770876,46.3539907 135.005158,46.2550158 134.195421,46.0570629 C133.385684,45.8591101 132.637569,45.5885786 131.951052,45.2454603 L132.663969,42.5401182 C133.280074,42.8040554 133.896169,43.0130025 134.512273,43.1669658 C135.128378,43.3209291 135.779678,43.3979096 136.466194,43.3979096 C137.407954,43.3979096 138.112063,43.111982 138.578542,42.5401182 C139.04502,41.9682545 139.278256,41.1720561 139.278256,40.1514992 L139.278256,39.214527 C138.855785,39.7511992 138.358508,40.1602956 137.786411,40.4418285 C137.214314,40.7233615 136.558613,40.8641258 135.819288,40.8641258 C134.067791,40.8641258 132.701381,40.219689 131.720014,38.930796 C130.738648,37.641903 130.247972,35.9461324 130.247972,33.8434333 L130.247972,33.5663007 Z M134.103006,33.8434333 C134.103006,35.0927357 134.314239,36.0758868 134.73671,36.792916 C135.159182,37.5099452 135.845688,37.8684544 136.796249,37.8684544 C137.385948,37.8684544 137.885426,37.7606817 138.294695,37.545133 C138.703964,37.3295844 139.031815,37.015064 139.278256,36.6015625 L139.278256,30.3990709 C139.031815,29.9679736 138.703964,29.6336583 138.294695,29.3961149 C137.885426,29.1585714 137.39475,29.0398015 136.822653,29.0398015 C135.880893,29.0398015 135.192187,29.4576957 134.756513,30.2934966 C134.32084,31.1292975 134.103006,32.2202213 134.103006,33.5663007 L134.103006,33.8434333 Z M156.577499,38.7790329 C156.119822,39.4476737 155.554335,39.9623434 154.881021,40.3230574 C154.207707,40.6837715 153.439788,40.8641258 152.577242,40.8641258 C151.072187,40.8641258 149.892805,40.3824478 149.039061,39.4190773 C148.185316,38.4557068 147.75845,36.957886 147.75845,34.9255701 L147.75845,29.0266047 L146.187392,28.630701 L146.187392,26.3080659 L151.613484,26.3080659 L151.613484,34.9519637 C151.613484,35.9901164 151.78731,36.7357276 152.134969,37.1888197 C152.482628,37.6419118 152.999708,37.8684544 153.686224,37.8684544 C154.293527,37.8684544 154.819408,37.7694795 155.263884,37.5715266 C155.708359,37.3735738 156.071415,37.0898456 156.353063,36.7203336 L156.353063,29.0266047 L154.663185,28.630701 L154.663185,26.3080659 L160.208096,26.3080659 L160.208096,37.8816512 L161.93758,38.2775549 L161.93758,40.5869932 L156.828341,40.5869932 L156.577499,38.7790329 Z M164.463595,38.2775549 L166.325101,37.8816512 L166.325101,29.0266047 L164.265563,28.630701 L164.265563,26.3080659 L170.180135,26.3080659 L170.180135,37.8816512 L172.028439,38.2775549 L172.028439,40.5869932 L164.463595,40.5869932 L164.463595,38.2775549 Z M170.180135,22.8900971 L166.325101,22.8900971 L166.325101,20 L170.180135,20 L170.180135,22.8900971 Z M183.716759,38.8450169 C183.267883,39.5048597 182.737602,40.0063327 182.125898,40.349451 C181.514194,40.6925693 180.816687,40.8641258 180.033354,40.8641258 C178.273056,40.8641258 176.906645,40.2218885 175.93408,38.9373944 C174.961516,37.6529004 174.475241,35.9549303 174.475241,33.8434333 L174.475241,33.5663007 C174.475241,31.3140372 174.963716,29.4972972 175.940682,28.1160262 C176.917647,26.7347552 178.290659,26.0441301 180.059758,26.0441301 C180.772679,26.0441301 181.415178,26.2002905 181.987275,26.5126161 C182.559372,26.8249417 183.06105,27.2670298 183.492323,27.8388936 L183.492323,22.7185389 L181.432784,22.3226351 L181.432784,20 L187.347356,20 L187.347356,37.8816512 L189.19566,38.2775549 L189.19566,40.5869932 L184.007207,40.5869932 L183.716759,38.8450169 Z M178.330274,33.8434333 C178.330274,35.0927357 178.539307,36.0758868 178.957377,36.792916 C179.375448,37.5099452 180.059754,37.8684544 181.010315,37.8684544 C181.57361,37.8684544 182.062085,37.7540834 182.475756,37.5253378 C182.889426,37.2965923 183.228278,36.9666759 183.492323,36.5355785 L183.492323,30.4782517 C183.228278,30.0207607 182.891626,29.6666503 182.482357,29.4159101 C182.073087,29.1651698 181.591213,29.0398015 181.036719,29.0398015 C180.09496,29.0398015 179.408454,29.4576957 178.977181,30.2934966 C178.545908,31.1292975 178.330274,32.2202213 178.330274,33.5663007 L178.330274,33.8434333 Z M198.388771,40.8641258 C196.329222,40.8641258 194.683368,40.2042929 193.451159,38.8846073 C192.218951,37.5649216 191.602855,35.888946 191.602855,33.8566301 L191.602855,33.3287584 C191.602855,31.2084635 192.185945,29.4621057 193.352143,28.0896326 C194.51834,26.7171595 196.082782,26.0353322 198.045514,26.0441301 C199.973041,26.0441301 201.469272,26.624783 202.534252,27.7861064 C203.599232,28.9474298 204.131714,30.5178322 204.131714,32.4973606 L204.131714,34.5956503 L195.603113,34.5956503 L195.576709,34.6748311 C195.64712,35.6162068 195.961769,36.3904108 196.520664,36.9974662 C197.079558,37.6045216 197.838675,37.9080448 198.798038,37.9080448 C199.651782,37.9080448 200.360292,37.8222665 200.923587,37.6507073 C201.486883,37.4791482 202.102978,37.2086167 202.771891,36.8391047 L203.814862,39.214527 C203.225163,39.680816 202.461645,40.0723168 201.524286,40.3890414 C200.586927,40.7057659 199.541766,40.8641258 198.388771,40.8641258 Z M198.045514,29.0134079 C197.332594,29.0134079 196.769307,29.2861389 196.355637,29.831609 C195.941966,30.377079 195.686727,31.0940975 195.589911,31.9826858 L195.629517,32.0486698 L200.355894,32.0486698 L200.355894,31.7055532 C200.355894,30.8873481 200.164464,30.2341135 199.7816,29.7458298 C199.398735,29.2575461 198.820045,29.0134079 198.045514,29.0134079 Z" id="logoLetters"></path>
          <path d="M41.6103349,37.4673684 L46.8809667,53.360697 C47.0153135,53.7658263 46.5559196,54.1078655 46.2060769,53.8631655 L32.2191339,44.0702109 C31.967121,43.894009 31.967121,43.5208753 32.2191339,43.3442227 L40.9354452,37.2438488 C41.1784415,37.0735052 41.5170135,37.1857156 41.6103349,37.4673684 M10.5491778,53.136276 L16.9946677,33.6999808 C17.0573328,33.5116114 16.9865528,33.304315 16.8220005,33.1934564 L0.196360375,21.984577 C-0.166556277,21.739877 0.00701255702,21.1738676 0.443865024,21.1738676 L56.2009368,21.1738676 C56.6341826,21.1738676 56.8104564,21.7317654 56.4556547,21.9800705 L11.2240675,53.638294 C10.8746757,53.8829939 10.414831,53.5409547 10.5491778,53.136276 M34.8929956,16.9801703 L29.0966982,0.297763322 C28.9587448,-0.0992544407 28.397013,-0.0992544407 28.2590596,0.297763322 L22.463213,16.9801703 C22.3631292,17.2681321 22.5768217,17.568712 22.8820323,17.568712 L34.4737255,17.568712 C34.7789361,17.568712 34.9926286,17.2681321 34.8929956,16.9801703" id="logoStar"></path>
      </g>
    </svg>
          
  // CONTENT
  .content
    .sidebar
      .sidebar__main
        .sidebar__lang
          a(href="#") Ru
          a(href="#").active En
          a(href="#") Cn
        .sidebar__content
          .sidebar__category
            a.sidebar__link(data-panel='places')
              +icon('ico-places')
              span Places
              +icon('ico-more')
            a.sidebar__link(data-panel='food')
              +icon('ico-fooddrink')
              span Food & Drinks
              +icon('ico-more')
            a.sidebar__link(data-panel='shopping')
              +icon('ico-shopping')
              span Shopping
          // next category
          .sidebar__category
            a.sidebar__link(data-panel='metro')
              +icon('ico-metro')
              span Metro map
            a.sidebar__link(data-panel='info')
              +icon('ico-info')
              span Important information
              // next category
          .sidebar__category
            a.sidebar__link(data-panel='favorites')
              +icon('ico-heart')
              span Favorites
              
    // Panels
    .sidebar-panel(data-for="places")
      .sidebar__back
        +icon('ico-back-arrow')
      .sidebar__filters
        .sidebar__filter.active
          .sidebar__filter-ico
            +icon('ico-placemark')
          span Все
        .sidebar__filter
          .sidebar__filter-ico
            +icon('ico-places')
          span Достопримечательности
        .sidebar__filter
          .sidebar__filter-ico
            +icon('ico-museum')
          span Музеи
        .sidebar__filter
          .sidebar__filter-ico
            +icon('ico-parks')
          span парки
        .sidebar__filter
          .sidebar__filter-ico
            +icon('ico-memorial')
          span Памятники
        .sidebar__filter
          .sidebar__filter-ico
            +icon('ico-entertainment')
          span Развлечения
    // next
    .sidebar-panel(data-for="food")
      .sidebar__back
        +icon('ico-back-arrow')
      .sidebar__filters
        .sidebar__filter.active
          .sidebar__filter-ico
            +icon('ico-placemark')
          span Все
        .sidebar__filter
          .sidebar__filter-ico
            +icon('ico-places')
          span Достопримечательности
        .sidebar__filter
          .sidebar__filter-ico
            +icon('ico-museum')
          span Музеи
    // next
    .sidebar-panel.sidebar-panel--wider(data-for="info")
      .sidebar-panel__heading Важная информация
      .info
        .info__left
          +icon('ico-phone')
        .info__right
          .info__row
            +icon('ico-fire')
            span 101 - Пожарная охрана
          .info__row
            +icon('ico-police')
            span 102 - Полиция
          .info__row
            +icon('ico-hospital')
            span 103 - Скорая помощь
      .info-text
        p Москва – современный светский европейский город, в котором нет никаких жестких правил общественного поведения. Впрочем, москвичи немного консервативны, и публичная и бурная демонстрация своих политических или религиозных взглядов, а также сексуальной ориентации может быть воспринята окружающими нео­до­брительно. В Москве запрещено употреблять алкоголь в общественных местах, полиция за этим строго следит, и никакие бумажные пакеты в качестве маскировки для бутылки в расчет не принимаются. 
      .info-text
        +icon('ico-no-smoking')
        p Курение запрещено вблизи станций метро, школ, больниц, на стадионах, в любом помещении, кроме собственной квартиры. Кроме того, не курят в кафе и ресторанах.
    
    // next
    .sidebar-panel.sidebar-panel--full(data-for="metro")
      .metro
        .metro__controls
          button.js-zoom-in +
          button.js-zoom-out -
          input(type="range" class="js-zoom-range" min="1" max="3.5" step="0.1")
          button.js-reset 0

        .metro__svg.panzoom
          // <img src="http://blog.millermedeiros.com/wp-content/uploads/2010/04/awesome_tiger.svg" width="900" height="900"/>
          include metro.svg
    .map
      script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAc-HQqbjl4xbBI-ep3pMskf9ic-lyMb70')
      #google-map
