.ico-back-arrow {
  width: 0.58em;
  height: 1em;
  fill: #000;
}
.ico-entertainment {
  width: 1.36em;
  height: 1em;
  fill: #D95E5B;
}
.ico-fooddrink {
  width: 1em;
  height: 1em;
  fill: #F2716E;
}
.ico-heart {
  width: 1.06em;
  height: 1em;
  fill: #4C4C4C;
}
.ico-info {
  width: 0.44em;
  height: 1em;
  fill: #434242;
}
.ico-logo {
  width: 3.8em;
  height: 1em;
  fill: none;
}
.ico-memorial {
  width: 0.63em;
  height: 1em;
  fill: #D95E5B;
}
.ico-metro {
  width: 1.36em;
  height: 1em;
  fill: #E1141A;
}
.ico-more {
  width: 5em;
  height: 1em;
  fill: #F2716E;
}
.ico-museum {
  width: 1em;
  height: 1em;
  fill: #D95E5B;
}
.ico-parks {
  width: 0.69em;
  height: 1em;
  fill: #D95E5B;
}
.ico-placemark {
  width: 0.73em;
  height: 1em;
  fill: #FFF;
}
.ico-places {
  width: 1.06em;
  height: 1em;
  fill: #000;
}
.ico-shopping {
  width: 0.88em;
  height: 1em;
  fill: #000;
}
