.ico-back-arrow {
  width: 0.58em;
  height: 1em;
  fill: #000;
}
.ico-bars {
  width: 0.86em;
  height: 1em;
  fill: #FFF;
}
.ico-chinease-kitchen {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-cloth {
  width: 1.14em;
  height: 1em;
  fill: #D95E5B;
}
.ico-entertainment {
  width: 1.36em;
  height: 1em;
  fill: #D95E5B;
}
.ico-fastfood {
  width: 1.14em;
  height: 1em;
  fill: #FFF;
}
.ico-fire {
  width: 0.62em;
  height: 1em;
  fill: none;
}
.ico-fooddrink {
  width: 1em;
  height: 1em;
  fill: #F2716E;
}
.ico-grossery {
  width: 0.93em;
  height: 1em;
  fill: #D95E5B;
}
.ico-heart {
  width: 1.06em;
  height: 1em;
  fill: #4C4C4C;
}
.ico-hospital {
  width: 1em;
  height: 1em;
  fill: #E30F18;
}
.ico-info {
  width: 0.44em;
  height: 1em;
  fill: #434242;
}
.ico-italian-kitchen {
  width: 0.94em;
  height: 1em;
  fill: #FFF;
}
.ico-japan-kitchen {
  width: 1.08em;
  height: 1em;
  fill: #FFF;
}
.ico-jewelry {
  width: 1.14em;
  height: 1em;
  fill: #D95E5B;
}
.ico-logo {
  width: 3.8em;
  height: 1em;
  fill: none;
}
.ico-memorial {
  width: 0.63em;
  height: 1em;
  fill: #D95E5B;
}
.ico-metro {
  width: 1.36em;
  height: 1em;
  fill: #E1141A;
}
.ico-more {
  width: 5em;
  height: 1em;
  fill: #F2716E;
}
.ico-museum {
  width: 1em;
  height: 1em;
  fill: #D95E5B;
}
.ico-no-smoking {
  width: 0.97em;
  height: 1em;
  fill: none;
}
.ico-parks {
  width: 0.69em;
  height: 1em;
  fill: #D95E5B;
}
.ico-pharmacy {
  width: 1em;
  height: 1em;
  fill: #D95E5B;
}
.ico-phone {
  width: 0.61em;
  height: 1em;
  fill: #434242;
}
.ico-placemark {
  width: 0.73em;
  height: 1em;
  fill: #FFF;
}
.ico-places {
  width: 1.06em;
  height: 1em;
  fill: #000;
}
.ico-police {
  width: 0.76em;
  height: 1em;
  fill: #4C4C4C;
}
.ico-restaurant {
  width: 1.33em;
  height: 1em;
  fill: #FFF;
}
.ico-russian-kitchen {
  width: 1.69em;
  height: 1em;
  fill: #FFF;
}
.ico-shopping {
  width: 0.88em;
  height: 1em;
  fill: #000;
}
.ico-souvenir {
  width: 0.71em;
  height: 1em;
  fill: #FFF;
}
